<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="MobileAppUrl" value="http://localhost:3000/" />
    <add key="SigningKey" value="949799574C0A6422943C8C873819C03633740F49433BFC1FB5E65869F458E49F" />
    <add key="Audience" value="urn:microsoft:windows-azure:zumo" />
    <add key="Issuer" value="urn:microsoft:windows-azure:zumo" />
  </appSettings>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.29.0" newVersion="4.2.29.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>